# Ignorar configuraciones específicas de VS Code
.vscode/

# Ignorar dependencias de Node.js (si usas npm o yarn)
node_modules/

# Archivos de logs
*.log

# Ignorar entornos virtuales de Python (si aplica)
venv/

# Ignorar binarios y resultados de compilación
*.exe
*.class
*.pyc